@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-cardBg: #1d1f24;
  --color-cardTop: #131417;
  --color-primary: #b4bfc0;
  --color-background: #050505;
  --color-whiteLine: #b9c0c9;
}

.hidden {
  display: none !important;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 3rem;
}
body {
  height: 100rem;
  background-color: var(--color-background);
}

.block {
  display: block;
}

/* #region header-main */
#headerContainer {
  background-color: var(--color-cardTop);
  padding: 0 0 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-main {
  background-color: var(--color-cardBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-primary);
  padding: 0;
}

.header-main hgroup div:first-of-type {
  background-color: var(--color-whiteLine);
  margin: 1rem 0;
  height: 3px;
  width: 150px;
  border-radius: 5px;
}

.header-main hgroup h1 {
  margin: 0.5rem;
}

.header-main hgroup {
  text-align: center;
}

/* #endregion */

/* #region footer-main */
#footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-cardTop);
  padding: 1.5rem 0 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1000;
}

#footerContainer section {
  background-color: var(--color-cardBg);
  padding-top: 0.5rem;
}
.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-main nav,
.footer-main div {
  display: block;
}

.footer-main nav {
  width: 50px;
}

.footer-main div {
  background-color: var(--color-whiteLine);
  margin: 1rem auto;
  height: 3px;
  width: 150px;
  border-radius: 5px;
}

.whiteHolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5rem;
}
.addList {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--color-cardBg);
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
}
.iconHolder {
  display: flex;
  justify-content: center;
  margin-left: 0.3rem;
}

.addItemDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: var(--color-cardBg);
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
}

/* #endregion */

/* #region headerList */

.headerList {
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2rem);
  background-color: var(--color-cardBg);
  padding: 1.2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 1rem;
}

.headerList .myMenu {
  margin-right: 2rem; /* Unified margin for consistency */
}

.headerList h2 {
  margin-left: 2rem;
}

/* #endregion */

/* #region listItem */

.listItem {
  color: var(--color-primary);
  width: calc(100% - 2rem);
  background-color: var(--color-cardBg);
  padding: 1.2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.listItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem .myMenu {
  margin-right: 2rem;
}

.listItem h2 {
  margin-left: 2rem;
}

/* #endregion */

/* menudropdown */

.myMenu {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.3rem;
  z-index: 2;
  background-color: var(--color-cardTop);
  border: 1px solid var(--color-primary);
  padding: 0.5rem;
}
.dropdown button {
  width: 100px;
  background-color: var(--color-cardBg);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
}
